/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/storage/logs/*.log
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/app/reports/*
/storage/app/cleanup_*.ps1
/public/temp_order_receipt_*.html
*.backup
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
